<!DOCTYPE html>
<html lang="no">
<head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Din tittel her</title>
        <link rel="stylesheet" href="/style/style.css" />

  <script src="script/get-comments.js">
    
  </script>
</head>
<body>
  <div style="display: grid;">
    <h2>Alle artikkler</h2>
    <button onclick="window.location.href='/'" style="height: 7.5vh; width: 15vw;"> Hovedside/Index</button>
      <div class="commentList" id="commentList"></div>
    
      <h1>Legg til en artikkel</h1>
      <!-- Skjema for å legge til ny kommentar -->
      <form onsubmit="submitComment(event)">
        <textarea id="Kommentar" required placeholder="Skriv din kommentar her..."></textarea>
        <br>
        <button type="submit">Legg til en artikkel</button>
      </form>
      
      <p><a href="/logout">Logg ut</a></p>
  </div>
</body>
</html>
