<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Din tittel her</title>
        <link rel="stylesheet" href="/style/style.css" />
        <link rel="icon" href="/img/favicon.svg" type="image/svg+xml" />
    </head>
    <body>
        <header>
            <div class="header-top">
                <div class="header-top-left">
                    <button class="icon-button" onclick="window.location.href='/'"></button>
                </div>
            </div>
            <div class="header-bottom">
                <h2>Log inn som forfatter</h2>
            </div>
        </header>
        <main>
            <div class="basic-center">
                <h1>Logg inn</h1>
                <!-- Enkelt skjema for pålogging -->
                 <div class="Log-inn-form">
                    <form action="/login" method="POST">
                        <label for="Brukernavn">Brukernavn:</label>
                        <input type="text" id="Brukernavn" name="Brukernavn" required />
                        <br />
                        <label for="Passord">Passord:</label>
                        <input type="password" id="Passord" name="Passord" required />
                        <br />
                        <br>
                        <button type="submit">Logg inn</button>
                    </form>
                 </div>
                 <br>
            </div>
        </main>
        <footer>
            <p style="justify-self: center; font-family: monospace;">NexaTech &copy; 2025</p>
        </footer>
    </body>
</html>
